<nav aria-label="breadcrumb" style="margin-top: 40px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/account">My Account</a></li>
        <li class="breadcrumb-item active" aria-current="page">Feedback</li>
    </ol>
</nav>
<div class="container mt-3 mb-5">
    <div class="row mt-2">
        <div class="col-sm-3">
            <h3 class="title"><i class="fa fa-address-book"></i>Mysterios</h3>
            <hr>
            <div class="sidenav">
                <div class="dropdown-pf"><i class="fa fa-user-circle"></i>My profile</div>
                <div class="dropdown-container-pf" style="display: none;">
                    <a class="item" href="/account">Background</a>
                    <a class="item" href="/account/changepwd">Change Password</a>
                </div>
                <a href="/account/wishlist"><i class="fa fa-list-alt"></i>Wishlist</a>
                <a href="/account/feedback" style="color: blue;"><i class="fa fa-bell"></i>Feedback</a>
                <a href="/account/cartBidding"><i class="fa fa-shopping-bag"></i>Bid product</a>
                <a href="/account/successfulBid"><i class="fa fa-usd"></i>Succesful auction</a>
                <a href="/account/manageProductSeller"><i class="fa fa-archive"></i>Manage products</a>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="content_menu">
                <div class="content">
                    <h2>Feedback</h2>
                    <hr>
                    <div style="margin-bottom: 10px;">Rating: <b> 3 </b></div>

                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" id="id">#</th>
                                <th scope="col" id="name">Name</th>
                                <th scope="col" id="point">Point</th>
                                <th scope="col" id="fb">Feedback</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="align-middle" scope="row">1</th>
                                <td class="align-middle">Mark</td>
                                <td class="align-middle">+1</td>
                                <td class="align-middle">
                                    <div id="item">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum odio
                                        sapiente maxime eos minima eum odit autem molestiae nobis, perspiciatis nam porro, 
                                        iusto culpa, debitis cumque! Eius fugit ab sunt?
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="align-middle" scope="row">2</th>
                                <td class="align-middle">Park</td>
                                <td class="align-middle">+1</td>
                                <td class="align-middle">
                                    <div id="item">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum odio
                                        sapiente maxime eos minima eum odit autem molestiae nobis, perspiciatis nam porro, 
                                        iusto culpa, debitis cumque! Eius fugit ab sunt?
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="align-middle" scope="row">3</th>
                                <td class="align-middle">Larry</td>
                                <td class="align-middle">+1</td>
                                <td class="align-middle">
                                    <div id="item">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum odio
                                        sapiente maxime eos minima eum odit autem molestiae nobis, perspiciatis nam porro, 
                                        iusto culpa, debitis cumque! Eius fugit ab sunt?
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>