<nav aria-label="breadcrumb" style="margin-top: 40px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/account">My Account</a></li>
        <li class="breadcrumb-item active" aria-current="page">Manage Product</li>
    </ol>
</nav>
<div class="container mt-3 mb-5" style="display: block;">
    <div class="row mt-2">
        <div class="col-sm-4">
            <h3 class="title"><i class="fa fa-address-book"></i>Manage Product</h3>
            <hr>
            <div class="sidenav">
                <a href="/account/manageProductSeller" style="color: blue;"><i class="fa fa-shopping-bag"></i>Product
                    list</a>
                <a href="/account/manageProductSeller/post_productSeller"><i class="fa fa-list-alt"></i>New Product</a>
                <a href="/account/manageProductSeller/sellerSoldItems"><i class="fa fa-usd"></i>Successful auction</a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="content_menu">
                <div class="content">
                    <div class="in-stock">
                        <h3>SELLING PRODUCTS</h3>
                        <br>
                        <hr class="mt-1">
                        <a class="item" href="product.html">
                            <div class="card-body shadow-sm p-3 mb-5 bg-white rounded"
                                style="min-width: 689px; height:195px;">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img src="https://assets.catawiki.nl/assets/2019/10/30/e/7/8/e7860d34-81ad-47ed-9494-7d4fe6c6bae2.jpg"
                                            alt="" class = "categories">
                                    </div>
                                    <div class="col-sm-10">
                                        <h5 class="item-title">Glycine - Collezione "AIRMAN WORLD TIME 4" Watch 1990
                                            -
                                            Esaurito
                                            - 3323.35A - Men -
                                            1990</h5>
                                        <div class="item-content">Quartz - Steel - Documents, Full set, Warranty
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 mt-1">
                                                <p style="font-weight:700;">Close in</p>
                                                <p id="timeOut">3d 3h 3m 3s </p>
                                            </div>
                                            <div class="col-sm-2">
                                                <p style="font-size: 25px; font-weight: 700;">$</p>
                                                <p style="font-size: 25px; font-weight: 700;">100</p>

                                            </div>
                                            <div class="col-sm-4">
                                                <button type="button" class="btn btn-outline-primary rounded-pill">View
                                                    this
                                                    lot</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="item" href="product.html">
                            <div class="card-body shadow-sm p-3 mb-5 bg-white rounded"
                                style="min-width: 689px; height:195px;">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img src="https://assets.catawiki.nl/assets/2019/10/15/9/4/3/943bc99c-f59c-4174-b7d2-41d8cfd94489.jpg"
                                            alt="" class = "categories">
                                    </div>
                                    <div class="col-sm-10">
                                        <h5 class="item-title">Glycine - Collezione "AIRMAN WORLD TIME 4" Watch 1990
                                            -
                                            Esaurito
                                            - 3323.35A - Men -
                                            1990</h5>
                                        <div class="item-content">Quartz - Steel - Documents, Full set, Warranty
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 mt-1">
                                                <p style="font-weight:700;">Close in</p>
                                                <p id="timeOut">3d 3h 3m 3s </p>
                                            </div>
                                            <div class="col-sm-2">
                                                <p style="font-size: 25px; font-weight: 700;">$</p>
                                                <p style="font-size: 25px; font-weight: 700;">100</p>

                                            </div>
                                            <div class="col-sm-4">
                                                <button type="button" class="btn btn-outline-primary rounded-pill">View
                                                    this
                                                    lot</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="item" href="product.html">
                            <div class="card-body shadow-sm p-3 mb-5 bg-white rounded"
                                style="min-width: 689px; height:195px;">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img src="https://assets.catawiki.nl/assets/2019/10/15/9/4/3/943bc99c-f59c-4174-b7d2-41d8cfd94489.jpg"
                                            alt="" class = "categories">
                                    </div>
                                    <div class="col-sm-10">
                                        <h5 class="item-title">Glycine - Collezione "AIRMAN WORLD TIME 4" Watch 1990
                                            -
                                            Esaurito
                                            - 3323.35A - Men -
                                            1990</h5>
                                        <div class="item-content">Quartz - Steel - Documents, Full set, Warranty
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 mt-1">
                                                <p style="font-weight:700;">Close in</p>
                                                <p id="timeOut">3d 3h 3m 3s </p>
                                            </div>
                                            <div class="col-sm-2">
                                                <p style="font-size: 25px; font-weight: 700;">$</p>
                                                <p style="font-size: 25px; font-weight: 700;">100</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <button type="button" class="btn btn-outline-primary rounded-pill">View
                                                    this
                                                    lot</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="item" href="product.html">
                            <div class="card-body shadow p-3 mb-5 bg-white rounded"
                                style="min-width: 689px; height:195px;">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img src="https://assets.catawiki.nl/assets/2019/10/15/9/4/3/943bc99c-f59c-4174-b7d2-41d8cfd94489.jpg"
                                            alt="" class = "categories">
                                    </div>
                                    <div class="col-sm-10">
                                        <h5 class="item-title">Glycine - Collezione "AIRMAN WORLD TIME 4" Watch 1990
                                            -
                                            Esaurito
                                            - 3323.35A - Men -
                                            1990</h5>
                                        <div class="item-content">Quartz - Steel - Documents, Full set, Warranty
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 mt-1">
                                                <p style="font-weight:700;">Close in</p>
                                                <p id="timeOut">3d 3h 3m 3s </p>
                                            </div>
                                            <div class="col-sm-2">
                                                <p style="font-size: 25px; font-weight: 700;">$</p>
                                                <p style="font-size: 25px; font-weight: 700;">100</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <button type="button" class="btn btn-outline-primary rounded-pill">View
                                                    this
                                                    lot</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>