<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ECFFFF; height: 60px;">
  <a href="manageProductSeller.html"><i class="fa fa-home fa-3x" aria-hidden="true" style="color: #BFEEFA;"
      id="btHome"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="manageProductSeller.html">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="dropdown">
      <div class='avt-name' data-toggle="dropdown">
        <img class="rounded-circle" width="35px" height="35px"
          src="https://cdn.trangcongnghe.com/uploads/posts/2017-11/lien-quan-mobile-top-5-nhung-tuong-khac-che-cung-superman-ma-ban-can-biet_1.jpg"
          alt="">
        <p class="navbar-text ml-2 m-1"> Super man</p>
      </div>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="account.html">Hồ sơ</a>
        <a class="dropdown-item" href="home.html">Đăng xuất</a>
      </div>
    </div>

    <div style="border-left: 1px solid #E8E8EC; height: 30px;" class="ml-4 mr-4"></div>
    <div class="dropdown">
      <img src="resources/img/icons8-squared-menu-50.png" width="30px" height="30px" data-toggle="dropdown">
      <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="dropdownMenuButton">
        <a style="color: #007BFF;" class="dropdown-item" href="manageProductSeller.html">Products <i class="fas fa-gift"
            style="color: #007BFF;"></i></a>
        <a class="dropdown-item" href="sellerSoldItems.html" style="color: rgb(240, 196, 53);">Sold <i
            style="color: rgb(240, 196, 53);" class="fas fa-wallet"></i></a>
      </div>
    </div>

    <img src="resources/img/icons8-bell-100.png" class="ml-4 mr-4" width="30px" height="30px">
  </div>
  </div>
</nav>
<div class="container mt-3" style="background-color: white;">
  <p style="margin-bottom: 6px;font-size: 22px;color: #333;">Thêm 1 sản phẩm mới</p>
  <p style="font-size: 12px;color: #999;">Vui lòng chọn ngành hàng phù hợp cho sản phẩm của bạn.</p>
  <hr>

  <span id="productNameNull" style="border: 1;margin-left:122px;color:red;"></span>
  <form action="information_productSeller.html" id='nameCate_Product'>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" style="background-color: #4d4dff;color: white;">Tên sản phẩm</span>
      </div>
      <input type="text" class="form-control" name="productName" id="productName">
    </div>
    <br>
    <p style="margin-bottom: 6px;font-size: 15px;color: #333;">
      Ngành hàng
    </p>
    <div class="row">
      <div class="col-sm-4" style="overflow-y: scroll; height: 250px;">
        <ul class="list-group" id="cateParent">
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="choose(this)">
            <p>Music</p> <i class="fas fa-arrow-right float-right"></i>
          </li>
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="choose(this)">
            <p>Sports</p> <i class="fas fa-arrow-right float-right"></i>
          </li>
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="choose(this)">
            <p>Toys and model</p> <i class="fas fa-arrow-right float-right"></i>
          </li>
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="choose(this)">
            <p>Wine</p> <i class="fas fa-arrow-right float-right"></i>
          </li>
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="choose(this)">
            <p>Coins</p> <i class="fas fa-arrow-right float-right"></i>
          </li>
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="choose(this)">
            <p>Bullion </p> <i class="fas fa-arrow-right float-right"></i>
          </li>
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="choose(this)">
            <p>Stamps</p> <i class="fas fa-arrow-right float-right"></i>
          </li>
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="choose(this)">
            <p>Stamps</p> <i class="fas fa-arrow-right float-right"></i>
          </li>

        </ul>
      </div>
      <div class="col-sm-4" style="overflow-y: scroll; height: 250px;">
        <ul class="list-group" style="display: none;" id="cateChild">
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="chooseChild(this)">
            <p>Asian Antiques</p> <i class="fas fa-arrow-right float-right"></i>
          </li>
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="chooseChild(this)">
            <p>Asian Curio</p> <i class="fas fa-arrow-right float-right"></i>
          </li>
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="chooseChild(this)">
            <p>Exclusive Asian Art & Objects</p> <i class="fas fa-arrow-right float-right"></i>
          </li>
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="chooseChild(this)">
            <p>Exclusive Japanese Antiques</p> <i class="fas fa-arrow-right float-right"></i>
          </li>
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="chooseChild(this)">
            <p>Japanese Antiques</p> <i class="fas fa-arrow-right float-right"></i>
          </li>
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="chooseChild(this)">
            <p>Samurai</p> <i class="fas fa-arrow-right float-right"></i>
          </li>
        </ul>
      </div>

      <div class="col-sm-4" style="overflow-y: scroll; height: 250px;">
        <ul class="list-group" style="display: none;" id="cateChild2">
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="chooseChild2(this)">
            <p>Archaeology & Natural History</p>
          </li>
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="chooseChild2(this)">
            <p>Art</p>
          </li>
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="chooseChild2(this)">
            <p>Asian Art & Ethnography</p>
          </li>
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="chooseChild2(this)">
            <p>Books & Comics</p>
          </li>
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="chooseChild2(this)">
            <p>Classic Cars, Motorcycles & Automobilia</p>
          </li>
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="chooseChild2(this)">
            <p>Computers, Games & Cameras</p>
          </li>
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="chooseChild2(this)">
            <p>Fashion</p>
          </li>
          <li class="list-group-item  btn btn-light text-left" style="border: none;" onclick="chooseChild2(this)">
            <p>Militaria & Weaponry</p>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <p>Selected:</p>
    <p id="selected" style="color: red;display: inline;"></p>
    <p id="selected1" style="color: red;display: inline;"></p>
    <p id="selected2" style="color: red;display: inline;"></p>
  </form>
  <br>
  <button type="button" class="btn btn-outline-primary" id="btNext">Tiếp theo</button>
</div>