<nav aria-label="breadcrumb" style="margin-top: 40px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" style="color: #007bff;">Home</a></li>
        <li class="breadcrumb-item"><a href="/account" style="color: #007bff;">My Account</a></li>
        <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
    </ol>
</nav>

<div class="container mt-3 mb-5" style="display: block;">
    <div class="row mt-2">
        <div class="col-sm-3">
            <h3 class="title"><i class="fa fa-address-book"></i>Mysterios</h3>
            <hr>
            <div class="sidenav">
                <div class="dropdown-pf"><i class="fa fa-user-circle"></i>My profile</div>
                <div class="dropdown-container-pf" style="display: none;">
                    <a class="item" href="/account">Background</a>
                    <a class="item" href="/account/changepwd">Change Password</a>
                </div>
                <a href="/account/wishlist" style="color: blue;"><i class="fa fa-list-alt"></i>Wishlist</a>
                <a href="/account/feedback"><i class="fa fa-bell"></i>Feedback</a>
                <a href="/account/cartBidding"><i class="fa fa-shopping-bag"></i>Bid product</a>
                <a href="/account/successfulBid"><i class="fa fa-usd"></i>Succesful auction</a>
                <a href="/account/manageProductSeller"><i class="fa fa-archive"></i>Manage products</a>
            </div>
        </div>
        <div class="col-sm-9" id="scroll">
            <h4>Wishlist</h4>
            <hr>
            <div class="in-stock">
                <h6>IN STOCK</h6>
                <hr class="mt-1">
                <a class="item" href="product.html">

                    <div class="card-body shadow-sm p-3 mb-5 bg-white rounded" style="min-width: 689px; height:195px;">
                        <div class="row">
                            <div class="col-sm-2" href="product.html">
                                <img src="https://assets.catawiki.nl/assets/2019/10/15/9/4/3/943bc99c-f59c-4174-b7d2-41d8cfd94489.jpg"
                                    alt="">
                            </div>
                            <div class="col-sm-10">
                                <h5 class="item-title" href="product.html">Glycine - Collezione "AIRMAN WORLD TIME
                                    4" Watch 1990 - Esaurito
                                    - 3323.35A - Men -
                                    1990</h5>
                                <div class="item-content">Quartz - Steel - Documents, Full set, Warranty</div>
                                <div class="row">
                                    <div class="col-sm-6 mt-1">
                                        <p style="font-weight:700;">Close in</p>
                                        <p id="timeOut">3d 3h 3m 3s </p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p style="font-size: 25px; font-weight: 700;">$</p>
                                        <p style="font-size: 25px; font-weight: 700;">100</p>

                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-outline-danger rounded-pill">Delete
                                            this item</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="item" href="product.html">
                    <div class="card-body shadow-sm p-3 mb-5 bg-white rounded" style="min-width: 689px; height:195px;">
                        <div class="row">
                            <div class="col-sm-2">
                                <img src="https://assets.catawiki.nl/assets/2019/10/30/e/7/8/e7860d34-81ad-47ed-9494-7d4fe6c6bae2.jpg"
                                    alt="">
                            </div>
                            <div class="col-sm-10">
                                <h5 class="item-title">Glycine - Collezione "AIRMAN WORLD TIME 4" Watch 1990 -
                                    Esaurito
                                    - 3323.35A - Men -
                                    1990</h5>
                                <div class="item-content">Quartz - Steel - Documents, Full set, Warranty</div>
                                <div class="row">
                                    <div class="col-sm-6 mt-1">
                                        <p style="font-weight:700;">Close in</p>
                                        <p id="timeOut">3d 3h 3m 3s </p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p style="font-size: 25px; font-weight: 700;">$</p>
                                        <p style="font-size: 25px; font-weight: 700;">100</p>

                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-outline-danger rounded-pill">Delete
                                            this item</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="item" href="product.html">
                    <div class="card-body shadow-sm p-3 mb-5 bg-white rounded" style="min-width: 689px; height:195px;">
                        <div class="row">
                            <div class="col-sm-2">
                                <img src="https://assets.catawiki.nl/assets/2019/10/15/9/4/3/943bc99c-f59c-4174-b7d2-41d8cfd94489.jpg"
                                    alt="">
                            </div>
                            <div class="col-sm-10">
                                <h5 class="item-title">Glycine - Collezione "AIRMAN WORLD TIME 4" Watch 1990 -
                                    Esaurito
                                    - 3323.35A - Men -
                                    1990</h5>
                                <div class="item-content">Quartz - Steel - Documents, Full set, Warranty</div>
                                <div class="row">
                                    <div class="col-sm-6 mt-1">
                                        <p style="font-weight:700;">Close in</p>
                                        <p id="timeOut">3d 3h 3m 3s </p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p style="font-size: 25px; font-weight: 700;">$</p>
                                        <p style="font-size: 25px; font-weight: 700;">100</p>

                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-outline-danger rounded-pill">Delete
                                            this item</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="item" href="product.html">
                    <div class="card-body shadow-sm p-3 mb-5 bg-white rounded" style="min-width: 689px; height:195px;">
                        <div class="row">
                            <div class="col-sm-2">
                                <img src="https://assets.catawiki.nl/assets/2019/10/15/9/4/3/943bc99c-f59c-4174-b7d2-41d8cfd94489.jpg"
                                    alt="">
                            </div>
                            <div class="col-sm-10">
                                <h5 class="item-title">Glycine - Collezione "AIRMAN WORLD TIME 4" Watch 1990 -
                                    Esaurito
                                    - 3323.35A - Men -
                                    1990</h5>
                                <div class="item-content">Quartz - Steel - Documents, Full set, Warranty</div>
                                <div class="row">
                                    <div class="col-sm-6 mt-1">
                                        <p style="font-weight:700;">Close in</p>
                                        <p id="timeOut">3d 3h 3m 3s </p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p style="font-size: 25px; font-weight: 700;">$</p>
                                        <p style="font-size: 25px; font-weight: 700;">100</p>

                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-outline-primary rounded-pill">View this
                                            lot</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="item" href="product.html">
                    <div class="card-body shadow p-3 mb-5 bg-white rounded" style="min-width: 689px; height:195px;">
                        <div class="row">
                            <div class="col-sm-2">
                                <img src="https://assets.catawiki.nl/assets/2019/10/15/9/4/3/943bc99c-f59c-4174-b7d2-41d8cfd94489.jpg"
                                    alt="">
                            </div>
                            <div class="col-sm-10">
                                <h5 class="item-title">Glycine - Collezione "AIRMAN WORLD TIME 4" Watch 1990 -
                                    Esaurito
                                    - 3323.35A - Men -
                                    1990</h5>
                                <div class="item-content">Quartz - Steel - Documents, Full set, Warranty</div>
                                <div class="row">
                                    <div class="col-sm-6 mt-1">
                                        <p style="font-weight:700;">Close in</p>
                                        <p id="timeOut">3d 3h 3m 3s </p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p style="font-size: 25px; font-weight: 700;">$</p>
                                        <p style="font-size: 25px; font-weight: 700;">100</p>

                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-outline-primary rounded-pill">View this
                                            lot</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="out-of-stock">
                <h6 style="display: inline;">OUT OF STOCK</h6>
                <hr class="mt-1">
                <a class="item" href="product.html">
                    <div class="card-body shadow-sm p-3 mb-5 bg-white rounded" style="min-width: 689px; height:195px;">
                        <div class="row oos">
                            <div class="col-sm-2">
                                <img src="https://assets.catawiki.nl/assets/2019/10/15/9/4/3/943bc99c-f59c-4174-b7d2-41d8cfd94489.jpg"
                                    alt="">
                            </div>
                            <div class="col-sm-10">
                                <h5 class="item-title">Glycine - Collezione "AIRMAN WORLD TIME 4" Watch 1990 -
                                    Esaurito
                                    - 3323.35A - Men -
                                    1990</h5>
                                <div class="item-content">Quartz - Steel - Documents, Full set, Warranty</div>
                                <div class="row">
                                    <div class="col-sm-6 mt-1">
                                        <p style="font-weight:700;">Close in</p>
                                        <p id="timeOut">3d 3h 3m 3s </p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p style="font-size: 25px; font-weight: 700;">$</p>
                                        <p style="font-size: 25px; font-weight: 700;">100</p>

                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-outline-primary rounded-pill">View this
                                            lot</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="item" href="product.html">
                    <div class="card-body shadow-sm p-3 mb-5 bg-white rounded" style="min-width: 689px; height:195px;">
                        <div class="row oos">
                            <div class="col-sm-2">
                                <img src="https://assets.catawiki.nl/assets/2019/10/30/e/7/8/e7860d34-81ad-47ed-9494-7d4fe6c6bae2.jpg"
                                    alt="">
                            </div>
                            <div class="col-sm-10">
                                <h5 class="item-title">Glycine - Collezione "AIRMAN WORLD TIME 4" Watch 1990 -
                                    Esaurito
                                    - 3323.35A - Men -
                                    1990</h5>
                                <div class="item-content">Quartz - Steel - Documents, Full set, Warranty</div>
                                <div class="row">
                                    <div class="col-sm-6 mt-1">
                                        <p style="font-weight:700;">Close in</p>
                                        <p id="timeOut">3d 3h 3m 3s </p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p style="font-size: 25px; font-weight: 700;">$</p>
                                        <p style="font-size: 25px; font-weight: 700;">100</p>

                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-outline-primary rounded-pill">View this
                                            lot</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>