<div class="col-sm-9" style="margin-top: 20px;">
  <div class="content_menu">
    <div class="content">
      <h3>Add category </h3>
      <hr>
      
 <form id="addCategory" method="POST" >
  <div class="form-group">
    <label for="txtcatName">Category's name</label>
    <input type="text" name="ten_DM" class="form-control" id="ten_DM" placeholder="Enter name">
    <input type="text" name="id_DM_cha" class="form-control" id="id_DM_cha" value="{{id}}" style="display: none;">
   
  </div>
  <a href="/admin/categories/{{id}}" class="btn btn-outline-info"> <i class="fa fa-backward" aria-hidden="true"></i> Back</a>
  <button id="addC" type="submit" class="btn btn-primary"> <i class="fa fa-check" aria-hidden="true"></i> Save</button>
  </form>
    </div>
  </div>
</div>

