<div class="body container">
  <div class="banner">
    <div class="bannerImg">
      <div class="banner-title">
        UNIQUE OBJECTS
      </div>
      <div class="banner-describe">
        Best price for you
      </div>
      <div class="banner-button">
        Learn more
      </div>
    </div>
  </div>
</div>

<!-- CONTAINER -->

<div class="main-contain container">
  <div class="a my-4">
    <h5>Top 5 items with most bids/ closing soon/ highest price</h5>
    <div class="list_product row d-flex justify-content-around">
      <a href="product.html" class="shadow col-2 item">
        <div class="card" style="width: auto;">
          <img src="https://assets.catawiki.nl/assets/2019/11/7/4/4/5/thumb2_445b596e-fe80-4ec4-aa2c-f5236e4c26bb.jpg"
            class="card-img-top" alt="...">
          <div class="card_banner">
            106 bids
          </div>
          <div class="card-body">
            <h5 class="card-title truncate2l">Car in 1970s very cool for someone who like antique</h5>
            <div class=" smalldes">
              <div id="block1">Post in: </div>
              <div id="block2">25/6/2019 11:11</div>
            </div>
            <div class="card-subtitle text-muted ">
              <div id="block1">Buy it now: </div>
              <div id="block3">190$</div>
            </div>
            <div class="card-subtitle text-muted text-truncate">
              <div id="block1">Bidder: </div>
              <div class="bidder">Katashiwa Ohisa </div>
            </div>
            <div id="price"><strong>190$</strong> </div>
            <div class="time_remain align-content-lg-start">
              <strong>Close in </strong>
              <time class="time_close">
                <span>4d</span>
                <span>2h</span>
                <span>42m</span>
                <span>24s</span>
              </time>
            </div>
          </div>
        </div>
      </a>

      <div class="shadow col-2 item">
        <div class="card" style="width: auto;">
          <img src="https://assets.catawiki.nl/assets/2019/11/7/4/4/5/thumb2_445b596e-fe80-4ec4-aa2c-f5236e4c26bb.jpg"
            class="card-img-top" alt="...">
          <div class="card_banner">
            106 bids
          </div>
          <div class="card-body">
            <h5 class="card-title truncate2l">Car in 1970s very cool for someone who like antique</h5>
            <div class=" smalldes">
              <div id="block1">Post in: </div>
              <div id="block2">25/6/2019 11:11</div>
            </div>
            <div class="card-subtitle text-muted ">
              <div id="block1">Buy it now: </div>
              <div id="block3">190$</div>
            </div>
            <div class="card-subtitle text-muted text-truncate">
              <div id="block1">Bidder: </div>
              <div class="bidder">Katashiwa Ohisa </div>
            </div>
            <div id="price"><strong>190$</strong> </div>
            <div class="time_remain ">
              <strong>Close in </strong>
              <time class="time_close">
                <span>4d</span>
                <span>2h</span>
                <span>42m</span>
                <span>24s</span>
              </time>
            </div>
          </div>
        </div>
      </div>
      <div class="shadow col-2 item">
        <div class="card" style="width: auto;">
          <img src="https://assets.catawiki.nl/assets/2019/11/7/4/4/5/thumb2_445b596e-fe80-4ec4-aa2c-f5236e4c26bb.jpg"
            class="card-img-top" alt="...">
          <div class="card_banner">
            106 bids
          </div>
          <div class="card-body">
            <h5 class="card-title truncate2l">Car in 1970s very cool for someone who like antique</h5>
            <div class=" smalldes">
              <div id="block1">Post in: </div>
              <div id="block2">25/6/2019 11:11</div>
            </div>
            <div class="card-subtitle text-muted ">
              <div id="block1">Buy it now: </div>
              <div id="block3">190$</div>
            </div>
            <div class="card-subtitle text-muted text-truncate">
              <div id="block1">Bidder: </div>
              <div class="bidder">Katashiwa Ohisa </div>
            </div>
            <div id="price"><strong>190$</strong> </div>
            <div class="time_remain ">
              <strong>Close in </strong>
              <time class="time_close">
                <span>4d</span>
                <span>2h</span>
                <span>42m</span>
                <span>24s</span>
              </time>
            </div>
          </div>
        </div>
      </div>

      <div class="shadow col-2 item">
        <div class="card" style="width: auto;">
          <img src="https://assets.catawiki.nl/assets/2019/11/7/4/4/5/thumb2_445b596e-fe80-4ec4-aa2c-f5236e4c26bb.jpg"
            class="card-img-top" alt="...">
          <div class="card_banner">
            106 bids
          </div>
          <div class="card-body">
            <h5 class="card-title truncate2l">Car in 1970s very cool for someone who like antique</h5>
            <div class=" smalldes">
              <div id="block1">Post in: </div>
              <div id="block2">25/6/2019 11:11</div>
            </div>
            <div class="card-subtitle text-muted ">
              <div id="block1">Buy it now: </div>
              <div id="block3">190$</div>
            </div>
            <div class="card-subtitle text-muted text-truncate">
              <div id="block1">Bidder: </div>
              <div class="bidder">Katashiwa Ohisa </div>
            </div>
            <div id="price"><strong>190$</strong> </div>
            <div class="time_remain ">
              <strong>Close in </strong>
              <time class="time_close">
                <span>4d</span>
                <span>2h</span>
                <span>42m</span>
                <span>24s</span>
              </time>
            </div>
          </div>
        </div>
      </div>

      <div class="shadow col-2 item">
        <div class="card" style="width: auto;">
          <img src="https://assets.catawiki.nl/assets/2019/11/7/4/4/5/thumb2_445b596e-fe80-4ec4-aa2c-f5236e4c26bb.jpg"
            class="card-img-top" alt="...">
          <div class="card_banner">
            106 bids
          </div>
          <div class="card-body">
            <h5 class="card-title truncate2l">Car in 1970s very cool for </h5>
            <div class=" smalldes">
              <div id="block1">Post in: </div>
              <div id="block2">25/6/2019 11:11</div>
            </div>
            <div class="card-subtitle text-muted ">
              <div id="block1">Buy it now: </div>
              <div id="block3">190$</div>
            </div>
            <div class="card-subtitle text-muted text-truncate">
              <div id="block1">Bidder: </div>
              <div class="bidder">Katashiwa Ohisa </div>
            </div>
            <div id="price"><strong>190$</strong> </div>
            <div class="time_remain ">
              <strong>Close in </strong>
              <time class="time_close">
                <span>4d</span>
                <span>2h</span>
                <span>42m</span>
                <span>24s</span>
              </time>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="a my-5">
    <h5>Top 5 items with most bids/ closing soon/ highest price</h5>
    <div class="list_product row d-flex justify-content-around">
      <div class="shadow col-2 item">
        <div class="card" style="width: auto;">
          <img src="https://assets.catawiki.nl/assets/2019/11/7/4/4/5/thumb2_445b596e-fe80-4ec4-aa2c-f5236e4c26bb.jpg"
            class="card-img-top" alt="...">
          <div class="card_banner">
            106 bids
          </div>
          <div class="card-body">
            <h5 class="card-title truncate2l">Car in 1970s very cool for someone who like antique</h5>
            <div class=" smalldes">
              <div id="block1">Post in: </div>
              <div id="block2">25/6/2019 11:11</div>
            </div>
            <div class="card-subtitle text-muted ">
              <div id="block1">Buy it now: </div>
              <div id="block3">190$</div>
            </div>
            <div class="card-subtitle text-muted text-truncate">
              <div id="block1">Bidder: </div>
              <div class="bidder">Katashiwa Ohisa </div>
            </div>
            <div id="price"><strong>190$</strong> </div>
            <div class="time_remain ">
              <strong>Close in </strong>
              <time class="time_close">
                <span>4d</span>
                <span>2h</span>
                <span>42m</span>
                <span>24s</span>
              </time>
            </div>
          </div>
        </div>
      </div>

      <div class="shadow col-2 item">
        <div class="card" style="width: auto;">
          <img src="https://assets.catawiki.nl/assets/2019/11/7/4/4/5/thumb2_445b596e-fe80-4ec4-aa2c-f5236e4c26bb.jpg"
            class="card-img-top" alt="...">
          <div class="card_banner">
            106 bids
          </div>
          <div class="card-body">
            <h5 class="card-title truncate2l">Car in 1970s very cool for someone who like antique</h5>
            <div class=" smalldes">
              <div id="block1">Post in: </div>
              <div id="block2">25/6/2019 11:11</div>
            </div>
            <div class="card-subtitle text-muted ">
              <div id="block1">Buy it now: </div>
              <div id="block3">190$</div>
            </div>
            <div class="card-subtitle text-muted text-truncate">
              <div id="block1">Bidder: </div>
              <div class="bidder">Katashiwa Ohisa </div>
            </div>
            <div id="price"><strong>190$</strong> </div>
            <div class="time_remain ">
              <strong>Close in </strong>
              <time class="time_close">
                <span>4d</span>
                <span>2h</span>
                <span>42m</span>
                <span>24s</span>
              </time>
            </div>
          </div>
        </div>
      </div>

      <div class="shadow col-2 item">
        <div class="card" style="width: auto;">
          <img src="https://assets.catawiki.nl/assets/2019/11/7/4/4/5/thumb2_445b596e-fe80-4ec4-aa2c-f5236e4c26bb.jpg"
            class="card-img-top" alt="...">
          <div class="card_banner">
            106 bids
          </div>
          <div class="card-body">
            <h5 class="card-title truncate2l">Car in 1970s very cool for someone who like antique</h5>
            <div class=" smalldes">
              <div id="block1">Post in: </div>
              <div id="block2">25/6/2019 11:11</div>
            </div>
            <div class="card-subtitle text-muted ">
              <div id="block1">Buy it now: </div>
              <div id="block3">190$</div>
            </div>
            <div class="card-subtitle text-muted text-truncate">
              <div id="block1">Bidder: </div>
              <div class="bidder">Katashiwa Ohisa </div>
            </div>
            <div id="price"><strong>190$</strong> </div>
            <div class="time_remain ">
              <strong>Close in </strong>
              <time class="time_close">
                <span>4d</span>
                <span>2h</span>
                <span>42m</span>
                <span>24s</span>
              </time>
            </div>
          </div>
        </div>
      </div>

      <div class="shadow col-2 item">
        <div class="card" style="width: auto;">
          <img src="https://assets.catawiki.nl/assets/2019/11/7/4/4/5/thumb2_445b596e-fe80-4ec4-aa2c-f5236e4c26bb.jpg"
            class="card-img-top" alt="...">
          <div class="card_banner">
            106 bids
          </div>
          <div class="card-body">
            <h5 class="card-title truncate2l">Car in 1970s very cool for someone who like antique</h5>
            <div class=" smalldes">
              <div id="block1">Post in: </div>
              <div id="block2">25/6/2019 11:11</div>
            </div>
            <div class="card-subtitle text-muted ">
              <div id="block1">Buy it now: </div>
              <div id="block3">190$</div>
            </div>
            <div class="card-subtitle text-muted text-truncate">
              <div id="block1">Bidder: </div>
              <div class="bidder">Katashiwa Ohisa </div>
            </div>
            <div id="price"><strong>190$</strong> </div>
            <div class="time_remain ">
              <strong>Close in </strong>
              <time class="time_close">
                <span>4d</span>
                <span>2h</span>
                <span>42m</span>
                <span>24s</span>
              </time>
            </div>
          </div>
        </div>
      </div>

      <div class="shadow col-2 item">
        <div class="card" style="width: auto;">
          <img src="https://assets.catawiki.nl/assets/2019/11/7/4/4/5/thumb2_445b596e-fe80-4ec4-aa2c-f5236e4c26bb.jpg"
            class="card-img-top" alt="...">
          <div class="card_banner">
            106 bids
          </div>
          <div class="card-body">
            <h5 class="card-title truncate2l">Car in 1970s very cool for </h5>
            <div class=" smalldes">
              <div id="block1">Post in: </div>
              <div id="block2">25/6/2019 11:11</div>
            </div>
            <div class="card-subtitle text-muted ">
              <div id="block1">Buy it now: </div>
              <div id="block3">190$</div>
            </div>
            <div class="card-subtitle text-muted text-truncate">
              <div id="block1">Bidder: </div>
              <div class="bidder">Katashiwa Ohisa </div>
            </div>
            <div id="price"><strong>190$</strong> </div>
            <div class="time_remain ">
              <strong>Close in </strong>
              <time class="time_close">
                <span>4d</span>
                <span>2h</span>
                <span>42m</span>
                <span>24s</span>
              </time>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>