
  <div class="container mt-5">
    <!--link-->
    <div id="link">
      <a id="categories" id= "categories" href="#" style="font-size: 12px;font-family:Courier New, Times, serif;">Catawiki</a>
      <p>></p>
      <a id="categories" id= "categories" href="#" style="font-size: 12px;font-family:Courier New, Times, serif;">Watches</a>
      <p>></p>
      <a id="categories" id= "categories" href="#" style="font-size: 12px;font-family:Courier New, Times, serif;">Unused Premium Watches</a>
    </div>
    <h1 style="font-weight:700; font-size: 30px;display: inline;">Unused Exclusive Watches</h1>
    <!--body-->
    <div class="a my-4 mt-5">
      <h5>Top 5 items with most bids/ closing soon/ highest price</h5>
      <div class="list_product row d-flex justify-content-around">
        <a id="categories" href="product.html" class="shadow col-2 item" id= "categories">
          <div class="card" style="width: auto;">
            <img src="https://assets.catawiki.nl/assets/2019/11/7/4/4/5/thumb2_445b596e-fe80-4ec4-aa2c-f5236e4c26bb.jpg"
              class="card-img-top categories" alt="...">
            <div class="card_banner">
              106 bids
            </div>
            <div class="card-body">
              <h5 class="card-title truncate2l">Car in 1970s very cool for someone who like antique</h5>
              <div class=" smalldes">
                <div id="block1">Post in: </div>
                <div id="block2">25/6/2019 11:11</div>
              </div>
              <div class="card-subtitle text-muted ">
                <div id="block1">Buy it now: </div>
                <div id="block3">190$</div>
              </div>
              <div class="card-subtitle text-muted text-truncate">
                <div id="block1">Bidder: </div>
                <div class="bidder">Katashiwa Ohisa </div>
              </div>
              <div id="price"><strong>190$</strong> </div>
              <div class="time_remain align-content-lg-start">
                <strong>Close in </strong>
                <time class="time_close">
                  <span>4d</span>
                  <span>2h</span>
                  <span>42m</span>
                  <span>24s</span>
                </time>
              </div>
            </div>
          </div>
        </a>

        <div class="shadow col-2 item">
          <div class="card" style="width: auto;">
            <img src="https://assets.catawiki.nl/assets/2019/11/7/4/4/5/thumb2_445b596e-fe80-4ec4-aa2c-f5236e4c26bb.jpg"
              class="card-img-top categories" alt="...">
            <div class="card_banner">
              106 bids
            </div>
            <div class="card-body">
              <h5 class="card-title truncate2l">Car in 1970s very cool for someone who like antique</h5>
              <div class=" smalldes">
                <div id="block1">Post in: </div>
                <div id="block2">25/6/2019 11:11</div>
              </div>
              <div class="card-subtitle text-muted ">
                <div id="block1">Buy it now: </div>
                <div id="block3">190$</div>
              </div>
              <div class="card-subtitle text-muted text-truncate">
                <div id="block1">Bidder: </div>
                <div class="bidder">Katashiwa Ohisa </div>
              </div>
              <div id="price"><strong>190$</strong> </div>
              <div class="time_remain ">
                <strong>Close in </strong>
                <time class="time_close">
                  <span>4d</span>
                  <span>2h</span>
                  <span>42m</span>
                  <span>24s</span>
                </time>
              </div>
            </div>
          </div>
        </div>
        <div class="shadow col-2 item">
          <div class="card" style="width: auto;">
            <img src="https://assets.catawiki.nl/assets/2019/11/7/4/4/5/thumb2_445b596e-fe80-4ec4-aa2c-f5236e4c26bb.jpg"
              class="card-img-top categories" alt="...">
            <div class="card_banner">
              106 bids
            </div>
            <div class="card-body">
              <h5 class="card-title truncate2l">Car in 1970s very cool for someone who like antique</h5>
              <div class=" smalldes">
                <div id="block1">Post in: </div>
                <div id="block2">25/6/2019 11:11</div>
              </div>
              <div class="card-subtitle text-muted ">
                <div id="block1">Buy it now: </div>
                <div id="block3">190$</div>
              </div>
              <div class="card-subtitle text-muted text-truncate">
                <div id="block1">Bidder: </div>
                <div class="bidder">Katashiwa Ohisa </div>
              </div>
              <div id="price"><strong>190$</strong> </div>
              <div class="time_remain ">
                <strong>Close in </strong>
                <time class="time_close">
                  <span>4d</span>
                  <span>2h</span>
                  <span>42m</span>
                  <span>24s</span>
                </time>
              </div>
            </div>
          </div>
        </div>

        <div class="shadow col-2 item">
          <div class="card" style="width: auto;">
            <img src="https://assets.catawiki.nl/assets/2019/11/7/4/4/5/thumb2_445b596e-fe80-4ec4-aa2c-f5236e4c26bb.jpg"
              class="card-img-top categories" alt="...">
            <div class="card_banner">
              106 bids
            </div>
            <div class="card-body">
              <h5 class="card-title truncate2l">Car in 1970s very cool for someone who like antique</h5>
              <div class=" smalldes">
                <div id="block1">Post in: </div>
                <div id="block2">25/6/2019 11:11</div>
              </div>
              <div class="card-subtitle text-muted ">
                <div id="block1">Buy it now: </div>
                <div id="block3">190$</div>
              </div>
              <div class="card-subtitle text-muted text-truncate">
                <div id="block1">Bidder: </div>
                <div class="bidder">Katashiwa Ohisa </div>
              </div>
              <div id="price"><strong>190$</strong> </div>
              <div class="time_remain ">
                <strong>Close in </strong>
                <time class="time_close">
                  <span>4d</span>
                  <span>2h</span>
                  <span>42m</span>
                  <span>24s</span>
                </time>
              </div>
            </div>
          </div>
        </div>

        <div class="shadow col-2 item">
          <div class="card" style="width: auto;">
            <img src="https://assets.catawiki.nl/assets/2019/11/7/4/4/5/thumb2_445b596e-fe80-4ec4-aa2c-f5236e4c26bb.jpg"
              class="card-img-top categories" alt="...">
            <div class="card_banner">
              106 bids
            </div>
            <div class="card-body">
              <h5 class="card-title truncate2l">Car in 1970s very cool for </h5>
              <div class=" smalldes">
                <div id="block1">Post in: </div>
                <div id="block2">25/6/2019 11:11</div>
              </div>
              <div class="card-subtitle text-muted ">
                <div id="block1">Buy it now: </div>
                <div id="block3">190$</div>
              </div>
              <div class="card-subtitle text-muted text-truncate">
                <div id="block1">Bidder: </div>
                <div class="bidder">Katashiwa Ohisa </div>
              </div>
              <div id="price"><strong>190$</strong> </div>
              <div class="time_remain ">
                <strong>Close in </strong>
                <time class="time_close">
                  <span>4d</span>
                  <span>2h</span>
                  <span>42m</span>
                  <span>24s</span>
                </time>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 ">
      <!--Muc luc-->
      <div class="col-sm-3" id="myHeader">
        <a href="#" id="categories">
          <h5 style="font-family: ProximaNova, Arial, sans-serif;">Watches</h5>
        </a>
        <ul style=" list-style-type: none; ">
          <div style="position: relative; left: -25px; ">
            <li> <a href="#" style="color: #999;"> Breitling Watches</a></li>
            <li> <a href="#" style="color: #999;"> Cartier Watches</a></li>
            <li> <a href="#" style="color: #999;"> Exclusive Pocket Watches</a></li>
            <li> <a href="#" style="color: #999;"> Exclusive Watches</a></li>
            <li> <a href="#" style="color: #999;"> Jaeger-LeCoultre Watches</a></li>
            <li> <a href="#" style="color: #999;"> Ladies' Watches</a></li>
            <li> <a href="#" style="color: #999;"> Omega Watches</a></li>
            <li> <a href="#" style="color: #999;"> Premium Watches</a></li>
            <li> <a href="#" style="color: #999;"> Rolex Accessories</a></li>
            <li> <a href="#" style="color:#00AEEF;"> Unused Exclusive Watches</a></li>
            <li> <a href="#" style="color: #999;"> Vintage Watches</a></li>

        </ul>
      </div>
      <!--san pham-->
      <div class="col-sm-9" id="scroll">
        <h4>Browse all lots</h4>
        <a id="categories" class="item" href="product.html">
          <div class="card-body shadow-sm p-3 mb-5 bg-white rounded" style="min-width: 689px; height:195px;">
            <div class="row">
              <div class="col-sm-2">
                <img src="https://assets.catawiki.nl/assets/2019/10/15/9/4/3/943bc99c-f59c-4174-b7d2-41d8cfd94489.jpg"
                  alt="" class="categories">
              </div>
              <div class="col-sm-10">
                <h5 class="item-title">Glycine - Collezione "AIRMAN WORLD TIME 4" Watch 1990 - Esaurito
                  - 3323.35A - Men -
                  1990</h5>
                <div class="item-content">Quartz - Steel - Documents, Full set, Warranty</div>
                <div class="row">
                  <div class="col-sm-6 mt-1">
                    <p style="font-weight:700;">Close in</p>
                    <p id="timeOut">3d 3h 3m 3s </p>
                  </div>
                  <div class="col-sm-2">
                    <p style="font-size: 25px; font-weight: 700;">$</p>
                    <p style="font-size: 25px; font-weight: 700;">100</p>

                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-outline-primary rounded-pill">View this
                      lot</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a id="categories" class="item" href="product.html">
          <div class="card-body shadow-sm p-3 mb-5 bg-white rounded" style="min-width: 689px; height:195px;">
            <div class="row">
              <div class="col-sm-2">
                <img src="https://assets.catawiki.nl/assets/2019/10/30/e/7/8/e7860d34-81ad-47ed-9494-7d4fe6c6bae2.jpg"
                  alt="" class="categories">
              </div>
              <div class="col-sm-10">
                <h5 class="item-title">Glycine - Collezione "AIRMAN WORLD TIME 4" Watch 1990 - Esaurito
                  - 3323.35A - Men -
                  1990</h5>
                <div class="item-content">Quartz - Steel - Documents, Full set, Warranty</div>
                <div class="row">
                  <div class="col-sm-6 mt-1">
                    <p style="font-weight:700;">Close in</p>
                    <p id="timeOut">3d 3h 3m 3s </p>
                  </div>
                  <div class="col-sm-2">
                    <p style="font-size: 25px; font-weight: 700;">$</p>
                    <p style="font-size: 25px; font-weight: 700;">100</p>
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-outline-primary rounded-pill">View this
                      lot</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a id="categories" class="item" href="product.html">
          <div class="card-body shadow-sm p-3 mb-5 bg-white rounded" style="min-width: 689px; height:195px;">
            <div class="row">
              <div class="col-sm-2">
                <img src="https://assets.catawiki.nl/assets/2019/10/15/9/4/3/943bc99c-f59c-4174-b7d2-41d8cfd94489.jpg"
                  alt="" class="categories">
              </div>
              <div class="col-sm-10">
                <h5 class="item-title">Glycine - Collezione "AIRMAN WORLD TIME 4" Watch 1990 - Esaurito
                  - 3323.35A - Men -
                  1990</h5>
                <div class="item-content">Quartz - Steel - Documents, Full set, Warranty</div>
                <div class="row">
                  <div class="col-sm-6 mt-1">
                    <p style="font-weight:700;">Close in</p>
                    <p id="timeOut">3d 3h 3m 3s </p>
                  </div>
                  <div class="col-sm-2">
                    <p style="font-size: 25px; font-weight: 700;">$</p>
                    <p style="font-size: 25px; font-weight: 700;">100</p>
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-outline-primary rounded-pill">View this
                      lot</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a id="categories" class="item" href="product.html">
          <div class="card-body shadow-sm p-3 mb-5 bg-white rounded" style="min-width: 689px; height:195px;">
            <div class="row">
              <div class="col-sm-2">
                <img src="https://assets.catawiki.nl/assets/2019/10/15/9/4/3/943bc99c-f59c-4174-b7d2-41d8cfd94489.jpg"
                  alt="" class="categories">
              </div>
              <div class="col-sm-10">
                <h5 class="item-title">Glycine - Collezione "AIRMAN WORLD TIME 4" Watch 1990 - Esaurito
                  - 3323.35A - Men -
                  1990</h5>
                <div class="item-content">Quartz - Steel - Documents, Full set, Warranty</div>
                <div class="row">
                  <div class="col-sm-6 mt-1">
                    <p style="font-weight:700;">Close in</p>
                    <p id="timeOut">3d 3h 3m 3s </p>
                  </div>
                  <div class="col-sm-2">
                    <p style="font-size: 25px; font-weight: 700;">$</p>
                    <p style="font-size: 25px; font-weight: 700;">100</p>
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-outline-primary rounded-pill">View this
                      lot</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a id="categories" class="item" href="product.html">
          <div class="card-body shadow p-3 mb-5 bg-white rounded" style="min-width: 689px; height:195px;">
            <div class="row">
              <div class="col-sm-2">
                <img src="https://assets.catawiki.nl/assets/2019/10/15/9/4/3/943bc99c-f59c-4174-b7d2-41d8cfd94489.jpg"
                  alt="" class="categories">
              </div>
              <div class="col-sm-10">
                <h5 class="item-title">Glycine - Collezione "AIRMAN WORLD TIME 4" Watch 1990 - Esaurito
                  - 3323.35A - Men -
                  1990</h5>
                <div class="item-content">Quartz - Steel - Documents, Full set, Warranty</div>
                <div class="row">
                  <div class="col-sm-6 mt-1">
                    <p style="font-weight:700;">Close in</p>
                    <p id="timeOut">3d 3h 3m 3s </p>
                  </div>
                  <div class="col-sm-2">
                    <p style="font-size: 25px; font-weight: 700;">$</p>
                    <p style="font-size: 25px; font-weight: 700;">100</p>

                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-outline-primary rounded-pill">View this
                      lot</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!--button go to top-->
  <button id="myBtn" title="Go to top"><img src="https://img.icons8.com/ios/100/000000/top-view-bird.png"></button>
