

.breadcrumb{
    background-color: #fff;
}
.sidenav {
    width:280px;
   
    z-index: 1;
    background-color: #fff;
}

.navbar.b{
font-size: 15px;
}

.is_active{ 
    color: blue !important;
}
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-pf {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
.title i,.sidenav a i,.dropdown-pf i{
    width: 50px;
}


  
/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
  
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container-pf {
    display: block;
    padding-left: 25%;
}

.dropdown-container-pf a{
    max-width: 100%;
}

.sidenav a:hover, a:active, .dropdown-container-pf a:hover {
    color: blue;
}

.fa-user-circle{
    color:rgba(255, 166, 0, 0.836);
}

.fa-list-alt{
    color:rgb(0, 153, 255);
}

.fa-bell{
    color: orangered;
}

.fa-shopping-bag{
    color: rgb(212, 94, 113);
}

.fa-dollar-sign{
    color: yellow;
}

.fa-archive{
    color: brown;
}



.rounded-circle{
    display: block;
    margin-top: 100px;
    margin-bottom: 50px;
}

.content_menu{
    border:1px solid black;
    padding: 10 10 10 10;
}

.content{
    margin: 0px 20px 20px 20px;
}

.title{
    margin-left: 15px;
    margin-bottom: 40px;
}

.form-control-sm{
    width: 300px;
    display: inline-block;
}

.error{
    color: red;
}

.btn-primary{
    width: 80px;;
}

.form-control-sm{
    width: 150px;
    display: inline-block;
}

#id, #point{
    width: 50px;
}

#name{
    width: 200px;
}

.more_text{
    color: black;
}

button.reset {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    background-color:rgba(218, 76, 50, 0.712);
    border-color: transparent;
    border-radius: 10px;
	font-family: 'Raleway', sans-serif;
	/*-- w3ls --*/
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	cursor:pointer;
}

button.cancel {
    display: inline-block;
    margin-left: 20px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #000;
    background-color:white;
    border-color: transparent;
    border-radius: 10px;
	font-family: 'Raleway', sans-serif;
	/*-- w3ls --*/
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	cursor:pointer;
}

.out-of-stock{
    margin-top: 20px;
   
}

.row.oos{
opacity: 0.5;

}



