.breadcrumb{
    background-color: #fff;
}
.sidenav {
    background-color: #fff;
}
  
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
.title i,.sidenav a i,.dropdown i{
    width: 50px;
}


  
/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
  
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: block;
    padding-left: 25%;
}

.dropdown-container a{
    max-width: 100%;
}

.sidenav a:hover, .dropdown-container a:hover {
    color: blue;
}

.fa-user-circle{
    color:rgba(255, 166, 0, 0.836);
}

.fa-list-alt{
    color:rgb(0, 153, 255);
}

.fa-bell{
    color: orangered;
}

.fa-shopping-bag{
    color: rgb(212, 94, 113);
}

.fa-usd{
    color: yellow;
}

.fa-archive{
    color: brown;
}

.rounded-circle{
    display: block;
    margin-top: 100px;
    margin-bottom: 50px;
}

.content_menu{
    border:1px solid black;
    padding: 10 10 10 10;
}

.content{
    margin: 0px 20px 20px 20px;
}

.title{
    margin-left: 15px;
    margin-bottom: 40px;
}

.form-control-sm{
    width: 300px;
    display: inline-block;
}

.error{
    color: red;
}

.btn-primary{
    width: 80px;;
}