input#txtOTP {
	width:50%;
	height:50px;
	padding:0 15px;
	color:#fff;
	font-size:17px;
	font-weight:200;
	background-color:transparent;
	border-bottom:5px solid #fff;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	font-family: 'Raleway', sans-serif;
	margin:0 auto;
	display:block;
	outline:none;
}
input#txtOTP:focus,input#txtOTP:hover {
	color:#fff;
	border-bottom:5px solid #3970b0;
}

button.validate {
    display: inline-block;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    background-color:rgba(218, 76, 50, 0.712);
    border-color: transparent;
    border-radius: 10px;
	font-family: 'Raleway', sans-serif;
	cursor:pointer;
}

button.cancel {
    display: inline-block;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #000;
    background-color:white;
    border-color: transparent;
    border-radius: 10px;
	font-family: 'Raleway', sans-serif;
	cursor:pointer;
}