
                <div class="content_menu">
                    <div class="content">
                        <h2>Change password</h2>
                        <hr>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-sm">Current password </label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control form-control-sm" id="curPwd" maxlength="8"
                                    autofocus>
                                <span class="error" id="errCurPwd"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-sm">New password <abbr
                                    title="Password has 6-8 characters."> <i
                                        class="fa fa-question-circle"></i></abbr></label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control form-control-sm" id="newPwd" maxlength="8">
                                <span class="error" id="errNewPwd"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-sm">Retype password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control form-control-sm" id="retypePwd"
                                    maxlength="8">
                                <span class="error" id="errRetypePwd"></span>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary ml-5" onclick="check()">Change</button>
                            <button type="button" class="btn btn-primary ml-3"
                                onclick="window.location.href='home.html'">Cancel</button>
                        </div>
                    </div>
                </div>
         