<div class="content_menu">
                    <div class="content">
                        <h2>Feedback</h2>
                        <hr>
                        <div style="margin-bottom: 10px;">Rating: <b> 3 </b></div>

                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" id="id">#</th>
                                    <th scope="col" id="name">Name</th>
                                    <th scope="col" id="point">Point</th>
                                    <th scope="col" id="fb">Feedback</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>+1</td>
                                    <td>
                                        <div id="item">
                                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum odio
                                            sapiente maxime
                                            <span class="more_text" style="display: none;">
                                                eos minima eum odit autem molestiae nobis, perspiciatis nam porro, iusto
                                                culpa, debitis cumque! Eius fugit ab sunt?
                                            </span>
                                            <a href="#" class="read">Read More</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Park</td>
                                    <td>+1</td>
                                    <td>
                                        <div id="item">
                                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum odio
                                            sapiente maxime
                                            <span class="more_text" style="display: none;">
                                                eos minima eum odit autem molestiae nobis, perspiciatis nam porro, iusto
                                                culpa, debitis cumque! Eius fugit ab sunt?
                                            </span>
                                            <a href="#" class="read">Read More</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>+1</td>
                                    <td>
                                        <div id="item">
                                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum odio
                                            sapiente maxime
                                            <span class="more_text" style="display: none;">
                                                eos minima eum odit autem molestiae nobis, perspiciatis nam porro, iusto
                                                culpa, debitis cumque! Eius fugit ab sunt?
                                            </span>
                                            <a href="#" class="read">Read More</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>