
  <div class="container mt-3 text-center" style="background-color: white;">
    <H1 >You need to fill product's information that you added before</H1 >
    <a href="/seller/my_product"><button type="button" class="btn btn-danger">Go back</button></a>
  </div>
